@model IEnumerable<SistemaOfertas.Models.Cliente>

@{
    ViewBag.Title = "Pesquisar";
}

<h2>Pesquisar</h2>

<form asp-action="Pesquisar" method="get">
    <div class="form-actions no-color">
        <div id="pesquisa">
            Nome ou CPF: <input class="fas fa-search" aria-label="Search" type="search" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <!-- class="fas fa-search" -->
            <input type="submit" value="Pesquisar" class="fas fa-search" id="bot" />
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.ActionLink("Ofertar", "OfertarCliente", "Oferta", new { idCliente = item.IdCliente }, null)
            </td>
        </tr>
    }

</table>
